#controls {
    position: absolute;
    bottom: 0%;
    left: 20%;
    
}
#playPauseBtn, #muteUnmuteBtn, #previousBtn, #nextIcon, #nextBtn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0.5;

}

#playPauseIcon, #muteUnmuteIcon, #previousIcon, #nextIcon{
    width: 50px;
    height: 50px;
}

#playPauseText{
    color:rgb(255, 255, 255)
}


#playPauseBtn:hover, #muteUnmuteBtn:hover, #previousBtn:hover, #nextBtn:hover {
    opacity: 1;
    transform: scale(1.3);
}

#playlist{
    position: absolute;
    bottom: 50%;
    right: 0%;
    width: 20%;
    height: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}